
.vs/MP3 Player/FileContentIndex/0992392a-bc30-4b5b-aa8d-426a4abaf4d1.vsidx
.vs/MP3 Player/FileContentIndex/ba44245c-1210-4841-a0b3-cb3b10f89b88.vsidx
.vs/MP3 Player/v17/.suo
.vs/MP3 Player/FileContentIndex/0992392a-bc30-4b5b-aa8d-426a4abaf4d1.vsidx
.vs/MP3 Player/v17/.suo
